@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-energy-red: #ef4444;
  --color-energy-blue: #3b82f6;
  --color-energy-green: #22c55e;
  --color-energy-purple: #a855f7;
  --color-energy-yellow: #eab308;
}
